@use "sass:map";
@import "./variables.scss";

$grid-breakpoints: (
    xs: 360px,
    sm: 576px,
    md: 700px,
    lg: 1100px,
    xl: 1600px,
    xxl: 2100px,
    xxxl: 2400px,
);
@import "../../node_modules//bootstrap";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
 #inputID::placeholder {
    color: white;
    opacity: 1;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.display-below-sm { display: none; }
@media (max-width: map.get($grid-breakpoints, "sm")) {
    .display-below-sm { display: inline; }
    .display-above-sm {display: none; }
}

.display-only-xs { display: none; }
@media only screen and (min-width: map.get($grid-breakpoints, "xs")) and (max-width:  (map.get($grid-breakpoints, "sm")-1))  {
    .display-only-xs { display: inline; }
}

.display-only-sm { display: none; }
@media only screen and (min-width: map.get($grid-breakpoints, "sm")) and (max-width:  (map.get($grid-breakpoints, "md")-1))  {
    .display-only-sm { display: inline; }
}

.display-only-md { display: none; }
@media only screen and (min-width: map.get($grid-breakpoints, "md")) and (max-width:  (map.get($grid-breakpoints, "lg")-1))  {
    .display-only-md { display: inline; }
}

.display-only-lg { display: none; }
@media only screen and (min-width: map.get($grid-breakpoints, "lg")) and (max-width:  (map.get($grid-breakpoints, "xl")-1))  {
    .display-only-lg { display: inline; }
}

.display-below-md { display: none; }
@media (max-width: map.get($grid-breakpoints, "md")) {
    .display-below-md { display: inline; }
    .display-above-md {display: none; }
}

.display-below-lg { display: none; }
@media (max-width: map.get($grid-breakpoints, "lg")) {
    .display-below-lg { display: inline; }
    .display-above-lg {display: none; }
}

.display-below-xl { display: none; }
@media (max-width: map.get($grid-breakpoints, "xl")) {
    .display-below-xl { display: inline; }
    .display-above-xl {display: none; }
}

.accent {
    color: $accent;
}

.modal {
    background-color: transparent !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.modal-sm .modal-body {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-sm .modal-content {
    background-color: transparent !important;
    border: 0px solid transparent !important;
    border-radius: 12px;
    width: 35%;
    min-width: 350px;
    max-width: 550px;
}

.modal-sm {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(90vh);
}

.custom-calendar, .Calendar__monthSelector, .Calendar__yearSelector {
    background-color: $dark-bg-modal !important;
}

.Calendar__monthText, .Calendar__yearText, .Calendar__day {
    color: $accent !important;
}

.Calendar__monthYear.-shown > *:hover {
    background-color: $dark-bg-modal !important;
}
  
.Calendar__monthSelectorItemText, .Calendar__yearSelectorText {
    color: $text;
}

.Calendar__monthSelectorItemText:disabled {
    color: gray;
}

.Calendar__monthSelectorItem.-active .Calendar__monthSelectorItemText, .Calendar__yearSelectorItem.-active .Calendar__yearSelectorText {
    background-color: $accent !important;
}

.Calendar__monthSelectorItem:not(.-active) .Calendar__monthSelectorItemText:not(:disabled):hover {
    background-color: $dark-bg-modal !important;
    color: $text !important;
}

.Calendar__yearSelectorItem:not(.-active) .Calendar__yearSelectorText:not(:disabled):hover {
    background-color: $dark-bg-modal !important;
    color: $text !important;
}

.Calendar__yearSelectorWrapper.-faded::after, .Calendar__yearSelectorWrapper.-faded::before {
    opacity: 0 !important;
    z-index: inherit !important;
}

.Calendar__day:not(.-selectedBetween) {
    color: $light-text !important;
}

.Calendar__day:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween) {
    color: $text;
}

.Calendar__day.-selected, .Calendar__day.-selectedStart, .Calendar__day.-selectedEnd, .Calendar__day:hover  {
    background-color: $accent !important;
}

.Calendar__day.-selectedBetween  {
    background-color: $accent-transparent !important;
    color: white !important;
}

.custom-today {
    color: white !important;
    border: 1px solid $accent !important;
}

.custom-day-today::after {
    visibility: hidden;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}