$dark-bg-modal: rgba(53,55,64,1);
$bg-tile: rgba(57, 172, 231, 0.5);
$bg-transparent: rgba(29, 29, 29, 0.2);

$accent: #39ace7;
$accent-transparent: rgba(57, 172, 231, 0.5);

$text: #BFB9C5;

$light-text: white;